@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family:"Poppins",'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif; 
} 
 
body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background: url('images/Engineering software')no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Nunito', sans-serif; 
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: purple;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .10s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid purple;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: purple;
    font-weight: 500;
    margin-left: 40px;
    transition: .10s;
}

.navigation .btnRegister-popup:hover {
    background: purple;
    color: black;
}

.navigation .btnRegister-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid purple;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: purple;
    font-weight: 500;
    margin-left: 40px;
    transition: .10s;
}

.navigation .btnLogin-popup:hover {
    background: purple;
    color: black;
}
 
.container { 
    width: 100%; 
    display: flex; 
    max-width: 400px; 
    background: #fff; 
    border-radius: 15px; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
} 
 
.login { 
    width: 400px; 
} 
 
form { 
    width: 250px; 
    margin: 60px auto; 
} 
 
h1 { 
    margin: 20px; 
    text-align: center; 
    font-weight: bolder; 
    text-transform: uppercase; 
} 
 
hr { 
    border-top: 2px solid #466cd2; 
} 
 
p { 
    text-align: center; 
    margin: 10px; 
} 
 
form label { 
    display: block; 
    font-size: 16px; 
    font-weight: 600; 
    padding: 5px; 
} 
 
input { 
    width: 100%; 
    margin: 2px; 
    border: none; 
    outline: none; 
    padding: 8px; 
    border-radius: 5px; 
    border: 1px solid gray; 
} 
 
button { 
    border: none; 
    outline: none; 
    padding: 8px; 
    width: 252px; 
    color: #fff; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 20px; 
    border-radius: 5px; 
    background: #2c84ff; 
} 
 
button:hover { 
    background: rgba(214, 86, 64, 1); 
} 
 
 
@media (max-width: 880px) { 
    .container { 
        width: 100%; 
        max-width: 750px; 
        margin-left: 20px; 
        margin-right: 20px; 
    } 
 
    form { 
        width: 300px; 
        margin: 20px auto; 
    } 
 
    .login { 
        width: 400px; 
        padding: 20px; 
    } 
 
    button { 
        width: 100%; 
    } 
}